.fish-sprite-wrapper, .fish-sprite {
  width: 1200px;
  height: 447px;
}

.fish-sprite-wrapper {
  position: relative;
  animation: fish-sprite-drift 60s linear infinite;
}

.fish-sprite {
  position: absolute;
  background-image: url("ASSETS/2A/spriteshees/fish-sprites-1.png");
  background-position: 0 0;
  top: 0;
  left: 0;
}
