.fish-sprite-wrapper, .fish-sprite {
  width: 1200px;
  height: 447px;
}

.fish-sprite-wrapper {
  position: relative;
}

.fish-sprite {
  position: absolute;
  background-image: url("ASSETS/2A/fish-spritesheet-1.jpg");
  background-position: 0 0;
  top: 0;
  left: 0;
}
