@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body, #passages {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
}

body {
	background-color: rgb(163,0,61);
}

html.debug {
  filter: grayscale(0.5);
}

#passages {
	align-items: center;
	justify-content: center;
	max-width: none;
	z-index: 1;
	overflow: hidden;
}

#passages .passage {
	width: 100%;
	height: 500px;
}

.passage .panel {
	height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.layer.art, .layer.front {
	flex: 0 0 auto;
	width: 1500px;
	position: relative;
  /* debug: */
  /* box-shadow: inset 0 0 0 1px black; */
}

.layer.full-art {
	flex: 1 1 auto;
	width: 100%;
}

.asset.asset-2a-gel {
  height: 430px;
  width: 340px;
  border-radius: 100px;
  filter: blur(20px);
  background-color: rgb(255,0,66,0.6);
}

.layer.full-art .asset.bg-tile {
	height: 800px;
	background-position: top center;
	background-repeat-y: no-repeat;
}

.layer.full-art .asset.looping-jellies {
    width: calc(100% + 200px)
}

/* wand */

.wand {
	border-bottom: none;
	transition: box-shadow .1s;
	/*box-shadow: 0 4px #ddd;*/
}

.wand.active {
	/*box-shadow: 0 4px #f08;*/
}

.wand.active:hover {
	/*box-shadow: 0 8px #f08;*/
}

.layer.full-art .asset {
	width: 100%;
	height: 400px;
}

.layer.full-art .asset img
{
	display: none;
}


.art-bottom, .full-art-bottom {
	top: calc(50vh - 200px);
}



.credits {
  color: white;
  background: rgba(0,0,0,0.8);
  border-radius: 20px;
  padding: 1em;
  width: 30em;
}

.credits a {
  color: rgba(255,0,66);
}
