/********** sealayer setup **********/

#sealayers {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.sealayer {
	position: absolute;
  display: flex; /* to position head and body */
  flex-flow: column nowrap;
  top: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Defaults */
.sealayer.active {
  transition: top 4s cubic-bezier(0.215, 0.61, 0.355, 1); /* cubic ease out */
}
.sealayer.used {
  transition: top 2s cubic-bezier(0.55, 0.055, 0.675, 0.19); /* cubic ease in */
}

.sealayer .head {
  width: 100%;
  flex: 0 0 auto;
}

.sealayer .body {
  flex: 1 1 auto;
}

/* animation */

.sealayer#red-clouds.active {
  top: -170px;
}

.sealayer#pink-clouds {
  /* parallax */
  top: calc(100vh + 400px);
}
.sealayer#pink-clouds.active {
  top: calc(50vh - 340px);
}

.sealayer#white-sea {
  /* parallax */
  top: calc(100vh + 800px);
}
.sealayer#white-sea.active {
  top: calc(50vh + 65px);
}

.sealayer#pink-sea {
  /* parallax */
  top: calc(100vh + 1200px);
}
.sealayer#pink-sea.active {
  top: calc(50vh + 300px);
}

.sealayer#red-sea.active,
.sealayer#deep-sea.active,
.sealayer#black-sea.active {
  top: calc(100vh - 115px);
}

.sealayer#red-clouds.used {
  top: -400px;
}

.sealayer#pink-clouds.used {
  top: -600px;
}

.sealayer#white-sea.used {
  top: -800px;
}

.sealayer#pink-sea.used {
  top: -1000px;
}

.sealayer#red-sea.used,
.sealayer#deep-sea.used,
.sealayer#black-sea.used {
  top: -100px;
}


/* head images */

.sealayer#red-clouds .head {
  background-image: url("ASSETS/sealayers/red-clouds.png");
  height: 306px;
}

.sealayer#pink-clouds .head {
  background-image: url("ASSETS/sealayers/pink-clouds.png");
  height: 306px;
}

.sealayer#white-sea .head {
  background-image: url("ASSETS/sealayers/white-sea.png");
  background-position-x: left;
  animation: translate-background--waves linear 40s infinite;
  height: 50px;
}

.sealayer#pink-sea .head {
  background-image: url("ASSETS/sealayers/pink-sea.png");
  background-position-x: left;
  animation: translate-background--waves linear 20s infinite;
  height: 50px;
}

.sealayer#red-sea .head {
  background-image: url("ASSETS/sealayers/waves-red.gif");
  height: 100px;
}

.sealayer#deep-sea .head {
  background-image: url("ASSETS/sealayers/waves-deep.gif");
  height: 100px;
}

.sealayer#black-sea .head {
  background-image: url("ASSETS/sealayers/waves-black.gif");
  height: 100px;
}

/* body colors */

.sealayer#white-sea .body {
  background-color: #ffffff;
}

.sealayer#pink-clouds .body,
.sealayer#pink-sea .body {
  background-color: rgba(255,144,125)
}

.sealayer#red-clouds .body,
.sealayer#red-sea .body {
  background-color: rgba(255,0,66)
}

.sealayer#deep-sea .body {
  background-color: rgba(163,0,61)
}

.sealayer#black-sea .body {
  background-color: #000000;
}

.sealayer#black-sea.resetting .body {
  transition: opacity 1s;
  opacity: 0;
}
