/* jellies */

@-webkit-keyframes looping-background-jellies {
  0% { background-position: 0; }
  100% { background-position: -978px; }
}

@-moz-keyframes looping-background-jellies {
  0%   { background-position: 0; }
  100% { background-position: -978px; }
}

@-o-keyframes looping-background-jellies {
  0%   { background-position: 0; }
  100% { background-position: -978px; }
}

@keyframes looping-background-jellies {
  0%   { background-position: 0; }
  100% { background-position: -978px; }
}

/* fish animations */

@-webkit-keyframes looping-background-fishes {
  0%   { background-position: 0; }
  100% { background-position: -1200px; }
}

@-moz-keyframes looping-background-fishes {
  0%   { background-position: 0; }
  100% { background-position: -1200px; }
}

@-o-keyframes looping-background-fishes {
  0%   { background-position: 0; }
  100% { background-position: -1200px; }
}

@keyframes looping-background-fishes {
  0%   { background-position: 0; }
  100% { background-position: -1200px; }
}

/* Float Animations */
/* float-right : for the carnivores */

@-webkit-keyframes float-right-med {
  0%, 100%   { left: 0; }
  50%       { left: 14px; }
}
@-moz-keyframes float-right-med {
  0%, 100%   { left: 0; }
  50%       { left: 14px; }
}
@-o-keyframes float-right-med {
  0%, 100%   { left: 0; }
  50%       { left: 14px; }
}
@keyframes float-right-med {
  0%, 100%   { left: 0; }
  50%       { left: 14px; }
}

@-webkit-keyframes float-right-sm {
  0%, 100%   { left: 0; }
  50%       { left: 7px; }
}
@-moz-keyframes float-right-sm {
  0%, 100%   { left: 0; }
  50%       { left: 7px; }
}
@-o-keyframes float-right-sm {
  0%, 100%   { left: 0; }
  50%       { left: 7px; }
}
@keyframes float-right-sm {
  0%, 100%   { left: 0; }
  50%       { left: 7px; }
}

@-webkit-keyframes float-left-small {
  0%, 100%   { right: 0; }
  50%       { right: 7px; }
}
@-moz-keyframes float-left-small {
  0%, 100%   { right: 0; }
  50%       { right: 7px; }
}
@-o-keyframes float-left-small {
  0%, 100%   { right: 0; }
  50%       { right: 7px; }
}
@keyframes float-left-small {
  0%, 100%   { right: 0; }
  50%       { right: 7px; }
}

/* float-down : for assets that need to be aligned to their tops  */

@-webkit-keyframes float-down-small {
  0%, 100%   { top: 0; }
  50%       { top: 7px; }
}
@-moz-keyframes float-down-small {
  0%, 100%   { top: 0; }
  50%       { top: 7px; }
}
@-o-keyframes float-down-small {
  0%, 100%   { top: 0; }
  50%       { top: 7px; }
}
@keyframes float-down-small {
  0%, 100%   { top: 0; }
  50%       { top: 7px; }
}

/* float-up : for assets that need to be aligned to their bottoms  */

@-webkit-keyframes float-up-small {
  0%, 100% { top: 0; }
  50%  { top: -7px; }
}

@-moz-keyframes float-up-small {
  0%, 100% { top: 0; }
  50% { top: -7px; }
}

@-o-keyframes float-up-small {
  0%, 100% { top: 0; }
  50% { top: -7px; }
}

@keyframes float-up-small {
  0%, 100% { top: 0; }
  50% { top: -7px; }
}

@-webkit-keyframes translate-background--waves {
  0% { background-position-x: 0 }
  100%  { background-position-x: 449px; }
}

@-moz-keyframes translate-background--waves {
  0% { background-position-x: 0 }
  100% { background-position-x: 449px; }
}

@-o-keyframes translate-background--waves {
  0% { background-position-x: 0 }
  100% { background-position-x: 449px; }
}

@keyframes translate-background--waves {
  0% { background-position-x: 0 }
  100% { background-position-x: 449px; }
}
